.navbar__burger-line {
  width: 20px;
  height: 3px;
  background-color: #000000;
  margin-bottom: 3px;
}
.navbar__list {
  list-style-type: none;
  display: flex;
}
.navbar__list-item {
  width: 100px;
  height: 25px;
  background-color: rgb(100, 100, 100);
  margin: 10px;
}

.main {
  padding: 0 50px 100px 50px;
  display: flex;
  justify-content: center;
}
.main__grid {
  display: grid;
  grid-template-columns: repeat(4, 306px);
  grid-gap: 30px;
}
.main__grid-item {
  display: block;
  background-color: rgb(152, 152, 152);
  border-radius: 10px;
  height: 170px;
}
.main__grid-item--modified {
  grid-row: 1/3;
  grid-column: 1/3;
  height: auto;
}

@media (max-width: 1440px) {
  .navbar__burger {
    display: none;
  }
  .navbar__list {
    display: flex;
  }
  .main__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .main__grid-item--modified {
    grid-row: 1/1;
    grid-column: 1/1;
  }
}
@media (max-width: 768px) {
  .main__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .main__grid-item--modified {
    grid-row: 1/1;
    grid-column: 1/1;
  }
}

/*# sourceMappingURL=main.css.map */
