
.navbar {
  &__burger-line {
    width: 20px;
    height: 3px;
    background-color: #000000;
    margin-bottom: 3px;
  }

  &__list {
    list-style-type: none;
    display: flex;
  }

  &__list-item {
    width: 100px;
    height: 25px;
    background-color: rgb(100, 100, 100);
    margin: 10px;
  }
}

.main {
  padding: 0 50px 100px 50px;
  display: flex;
  justify-content: center;

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 306px);
    grid-gap: 30px;

  }

  &__grid-item {
    display: block;
    background-color: rgb(152, 152, 152);
    border-radius: 10px;

    height: 170px;
  }

  &__grid-item--modified {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    height: auto;
  }
}

@media (max-width: 1440px) {
  .navbar {
    &__burger {
      display: none;
    }

    &__list {
      display: flex;
    }
  }

  .main {

    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }

    &__grid-item--modified {
      grid-row: 1/1;
      grid-column: 1/1;
    }
  }

}

@media (max-width: 768px) {
  .main {
    &__grid {
      grid-template-columns: repeat(1, 1fr);
    }

    &__grid-item--modified {
      grid-row: 1/1;
      grid-column: 1/1;
    }
  }

}

